.StatCardsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1299px) {
  .StatCardsRow {
    justify-content: center;
  }
}