@import "../../../main/colors.scss";
.OrderAnalytics {
    height: 40%;
}
.AnalyticsT {
    background: $NavBackground;
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    margin-top: 24px;
    padding: 24px;
    position: relative;
    .MostOrderedStarter {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
        .name {
            color: $White;
            font-family: barlow_sb;
            letter-spacing: 2px;
            font-size: 22px;
        }
        .block {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            color: $White;
            font-family: barlow_m;
            letter-spacing: 1px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid $BorderColor;
            img {
                height: 24px;
                margin-right: 10px;
            }
        }
    }
    .lineO {
        height: 1px;
        background-color: $BorderColor;
        width: 100%;
        margin: 20px 0;
        margin-top: 25px;
    }
}
.getAnalytics {
    display: flex;
    width: 100%;
    .circleStats {
        display: flex;
        align-items: center;
        justify-content: center;
        circle {
            fill: none;
            stroke-width: 12px;
            stroke-dasharray: 472;
            transform: rotate(-90deg);
            transform-origin: unset;
            transition: 1.6s;
        }
        .cc1 {
            stroke: $BlueColor;
            stroke-dashoffset: 100;
            animation: LoadAn 1s 1;
        }
        .cc2 {
            stroke: $YellowColor;
            stroke-dashoffset: 270;
            animation: LoadAn 1s 1;
        }
        .cc3 {
            stroke: $RedColor;
            stroke-dashoffset: 270;
            animation: LoadAn 1s 1;
        }
        .untL {
            stroke-dashoffset: 500;
        }

        .bC1 {
            fill: none;
            stroke-width: 12px;
            stroke: #ffffff;
            opacity: 0.05;
            stroke-dasharray: 472;
            stroke-dashoffset: 00;
        }
        .bC2 {
            fill: none;
            stroke-width: 12px;
            stroke: #ffffff;
            stroke-dasharray: 472;
            opacity: 0.1;
            stroke-dashoffset: 00;
        }
    }
    .infoStats {
        margin-top: 10px;
        .CBlock {
            display: flex;
            margin: 20px 0;
            .color {
                height: 25px;
                aspect-ratio: 1;
                border-radius: 50%;
                margin: 10px;
            }
            .c1 {
                background: $RedColor;
            }
            .c2 {
                background: $YellowColor;
            }
            .c3 {
                background: $BlueColor;
            }
            .tx {
                .name {
                    color: $White;
                    font-size: 16px;
                    font-family: barlow_sb;
                    letter-spacing: 1px;
                    margin-bottom: 3px;
                }
                .desc {
                    color: $DescText;
                    font-size: 15px;
                    font-family: barlow_m;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
