@import "../../main/colors.scss";
.orders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 42px;
  width: 500px;
  background: #1f1d2b;
  border-radius: 8px;
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  .orders-main {
    width: 100%;
    .item-line-info {
      padding-bottom: 20px;
      border-bottom: 1px solid #393c49;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 16px;
      }
      div {
        display: flex;
        gap: 43px;
      }
    }
    .order-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 30px;
      padding: 24px;
      padding-bottom: 30px;
      background: $NavBackground;
      left: 0;
      .order-footer-line {
        border-top: 1px solid #393c49;
        margin-bottom: 20px;
      }
      .con {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      button {
        width: 80%;
        height: 48px;
        background: #ea7c69;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
        border-radius: 8px;
        border: 0;
        outline: none;
        color: #fff;
        cursor: pointer;
        display: block;
        margin: 40px auto 0px auto;
      }
    }
  }
}
@media (max-width: 1277px) {
  .orders {
    right: 100%;
  }
}
