.settings {
  height: 100vh;
  padding: 24px 0px;
  transition: 0.3s;
  .header-h1 {
    margin-bottom: 30px;
  }
  .settings-main {
    height: 90%;
    display: flex;
    gap: 24px;
    padding: 0px 30px 0px 0px;
  }
}
@media (max-width: 499px) {
  .header-h1 {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .settings .settings-main {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 0 5px;
  }
  .settings-leftside {
    width: 100%;
  }
  .settings-rightside {
    padding: 0 10px;
    padding-top: 20px;
    margin-bottom: 40px;
    .topside {
      flex-direction: column;
      gap: 20px;
    }
    .change-buttons {
      flex-direction: column-reverse;
      bottom: 30px;
      button {
        width: 100%;
      }
    }
  }
  .settings-filter {
    flex-wrap: wrap;
    justify-content: center;
  }
  .settings-dishes {
    justify-content: center;
    padding-bottom: 180px;
    .add-dish {
      min-width: 250px;
    }
    .dish {
      min-width: 250px;
    }
  }
}
