.settings-rightside {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 34px;
  background: #1f1d2b;
  position: relative;
  overflow-y: hidden;
}
.settings-rightside::-webkit-scrollbar {
  display: none;
}
.settings-rightside .change-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #1f1d2b;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  gap: 20px;
}
.settings-rightside .change-buttons button {
  width: 172px;
  height: 48px;
  border: 1px solid #ea7c69;
  border-radius: 8px;
  cursor: pointer;
}
.settings-rightside .change-buttons button:nth-child(1) {
  background-color: transparent;
  color: #ea7c69;
}
.settings-rightside .change-buttons button:nth-child(2) {
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
  color: #fff;
}