@import "../../../../main/colors.scss";
.DashboardOrderReports {
  width: 100%;
  background: $NavBackground;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
  .ReportsStarter {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      color: $White;
      font-family: barlow_sb;
      letter-spacing: 2px;
      font-size: 22px;
    }
    .block {
      display: flex;
      align-items: center;
      padding: 8px 15px;
      color: $White;
      font-family: barlow_m;
      letter-spacing: 1px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid $BorderColor;
      img {
        height: 24px;
        margin-right: 10px;
      }
    }
  }
  .CatergoriesReport {
    display: flex;
    color: $White;
    font-family: barlow_m;
    font-size: 17px;
    padding: 0px 30px;
    margin-bottom: 15px;
  }
  .lineReport {
    height: 1px;
    background-color: $BorderColor;
    width: 100%;
    margin: 10px 0;
    margin-bottom: 0px;
  }
  .ProfileReportsRow {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    padding-top: 20px;
    overflow-y: scroll;
    height: 450px;
    gap: 35px;
    &::-webkit-scrollbar {
      width: 5px;
      background: #2b283b;
    }
    &::-webkit-scrollbar-thumb {
      background: #38344c;
    }
  }
}
@media screen and (max-width: 771px) {
  .DashboardOrderReports {
    .CatergoriesReport {
      display: none;
    }
    .ReportProfileBlock {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 40px;
      text-align: center;
      border-bottom: 1px solid #393c49;
      padding-bottom: 40px;
      .RowSt {
        flex-direction: column;
      }
      div {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 0px;
      }
      .RowSt,
      .getDR {
        font-size: 14px;
      }
    }
  }
}
