$MainColor: #ea7c69;
$Background: #252836;
$NavBackground: #1f1d2b;
$InputColor: #393c49;
$Pink: #ff7ca3;
$DescText: #abbbc2;
$PlaceHolderColor: #889898;
$BorderColor: #393c49;
$LineColor: #393c49;
$GreenColor: #50d1aa;
$RedColor: #ff7ca3;
$PurpleColor: #9290fe;
$YellowColor: #ffb572;
$BlueColor: #65b0f6;
$White: #ffffff;
