@import "./main/colors.scss";

@font-face {
  font-family: barlow_r;
  src: url(/src/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: barlow_m;
  src: url(/src/fonts/Barlow-Medium.ttf);
}

@font-face {
  font-family: barlow_sb;
  src: url(/src/fonts/Barlow-SemiBold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $Background;
}
.App {
  padding-left: 150px;
}
h1 {
  font-family: barlow_sb;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 0.5px;
}
h2 {
  font-family: barlow_sb;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 0.5px;
}
h3 {
  font-family: barlow_sb;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 0.5px;
}
h4 {
  font-size: 14px;
  font-family: barlow_sb;
  color: #ffffff;
  line-height: 140%;
  letter-spacing: 0.5px;
}
input {
  font-family: barlow_m;
  letter-spacing: 1px;
}
button {
  font-family: barlow_m;
  letter-spacing: 1px;
}
p {
  font-family: barlow_m;
  font-size: 12px;
  line-height: 140%;
  color: #abbbc2;
  letter-spacing: 0.5px;
}

.g-3 {
  width: 30%;
}
.g-2 {
  width: 20%;
}
